<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35500064335-npue9bumr8pf3gadsov9l6tkv8uk6554.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35500064335-npue9bumr8pf3gadsov9l6tkv8uk6554</string>
	<key>API_KEY</key>
	<string>AIzaSyB9pQQrmkEvwMN6F5tOBgwVdjB0__yAnoU</string>
	<key>GCM_SENDER_ID</key>
	<string>35500064335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.getxShoppingCart</string>
	<key>PROJECT_ID</key>
	<string>getx-shopping-cart-e50d4</string>
	<key>STORAGE_BUCKET</key>
	<string>getx-shopping-cart-e50d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35500064335:ios:145570e2b073dbec94b43a</string>
</dict>
</plist>